# =========================
# Data files (ML datasets)
# =========================
data/
*.csv
*.parquet
*.h5
*.pkl

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs & models
# =========================
logs/
models/
artifacts/
